literature/
slides/
preprint/
paper/
.pre-commit-config.yaml
.flake8
**.json 
**.png
**__pycache__
!function_creation/create_problem.py
!function_creation/function.py
function_creation/function.pkl
bo/**/
bo/**.pdf
misc
benchmarks
**/*.sh
materials_benchmarking