[submodule "materials_benchmarking"]
	path = materials_benchmarking
	url = https://github.com/PV-Lab/Benchmarking.git
[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
